/*--- font import ---*/
@font-face {
  font-family: "sairalight";
  src: url("/fonts/light/saira-light-webfont.woff") format("woff"),
    url("/fonts/light/saira-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*:focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "sairalight", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Saira";
  letter-spacing: -0.1em;
}

header img {
  height: 65px;
  z-index: 5;
}

/* -- NAVBAR -- */
.web nav ul {
  margin: 0 5vw 0 0;
  padding: 0;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.web nav ul li {
  position: relative;
  height: 64px;
  border-bottom: 1px solid #000;
  list-style: none;
  font-weight: bold;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.web nav ul li::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff3e3e;
  transform: scale(0);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.web nav ul li:hover::after {
  transform: scale(1);
}

.web nav ul li a {
  /*position: relative;
  top: 20%;*/
  line-height: 65px;
  font-size: 2vw;
  height: 100%;
  color: white;
  text-decoration: none;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.web nav:hover li:not(:hover) a {
  opacity: 0.5;
}

.web nav li:hover a {
  opacity: 1;
  text-decoration: none;
}

/* ---- Mobile ---- */
.burgerMenu {
  display: none;
}

.burgerMenu input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 30px;
  z-index: 5;
}

.burgerMenu input + label span {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: white;
  transition: 0.5s;
}

.burgerMenu input + label span:first-child {
  top: 0px;
}

.burgerMenu input + label span:last-child {
  top: 19px;
}

.burgerMenu label:hover {
  cursor: pointer;
}

.burgerMenu input:checked + label span {
  opacity: 0;
  top: 50%;
}

.burgerMenu input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}

.burgerMenu input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

.burgerMenu input ~ nav {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 4;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}

.burgerMenu input ~ nav > ul {
  text-align: center;
  position: absolute;
  font-size: 2em;
  top: 20%;
  left: 10%;
  right: 20%;
}

.burgerMenu input ~ nav > ul > li {
  list-style: none;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}

.burgerMenu input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  display: block;
  padding: 30px;
}

.burgerMenu input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}

.burgerMenu input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
}

/* ----------------*/

.space-background {
  position: absolute;
  right: 0;
  top: 65px;
  width: 30%;
  background: url(images/espaceFusee.jpg);
  background-position-x: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: -1;
}

/* ----------- */
aside {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ff3e3e;
  width: 50px;
  border-radius: 0px 30px 30px 0px;
  height: 300px;
  top: 160px;
  left: 0;
}

aside .fa-twitter-square,
aside .fa-facebook-square,
aside .fa-instagram,
aside .fa-paper-plane {
  color: white;
  padding: 1em;
  transition: all 0.5s ease;
  cursor: pointer;
}

aside .fa-twitter-square:hover,
aside .fa-facebook-square:hover,
aside .fa-instagram:hover,
aside .fa-paper-plane:hover {
  color: #000000;
}

.txt-homepage {
  font-family: "sairalight", sans-serif;
  margin: 6em 15em 5em 6em;
}

.txt-homepage h1 {
  width: 70%;
  margin-bottom: 1em;
  letter-spacing: -0.1em;
  word-spacing: 0.3em;
  font-size: 4vw;
}

.txt-homepage h2 {
  color: #a7a7a7;
}

.txt-homepage h1 strong {
  color: #ff3e3e;
}

.txt-homepage button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: none;
  background: #ff3e3e;
  padding: 1em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0px 0px 25px #ff3e3e;
}

button p {
  transition: all 0.4s ease;
  padding: 0;
  margin: 0;
}

button:hover p {
  transform: scale(1.05);
}

.fa-arrow-right {
  transition: all 0.5s ease;
  margin-left: 20px;
}

.txt-homepage button:hover .fa-arrow-right {
  transition: all 0.5s ease;
  transform: translateX(5px);
}

.mars {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 10em;
  width: 80%;
  background: #ff3e3e;
  height: 250px;
}

.mars-image {
  width: 50%;
  height: 100%;
  background: url(images/mars.png);
  background-size: cover;
}

.mars-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  width: 40%;
  font-size: 1.5em;
}
.mars-text button a {
  color: white;
  text-decoration: none;
}
.mars-text button {
  align-self: left;
  margin-top: 20px;
  border: none;
  color: white;
  cursor: pointer;
  background: #000000;
  transition: all ease 0.5s;
  /* box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.3),
    5px 5px 15px rgba(0, 0, 0, 0.3), inset 5px 5px 10px rgba(255, 255, 255, 0.3);
  border-radius: 30px;*/

  padding: 1em;
  width: 80px;
}
.mars-text button:hover {
  box-shadow: rgb(32, 32, 32) 0 0 10px 0px;
}
.mars-text button:active {
  box-shadow: inset rgba(255, 255, 255, 0.596) 0 0 10px 0px;
}
/* ----- TRIP ----- */
.trip {
  margin-top: 15em;
  font-family: "sairalight", sans-serif;
  background: url(images/fond5.png);
  background-position: center;
  background-repeat: no-repeat;
}

.img-fond {
  position: relative;
  top: -120vh;
  z-index: -1;
}
.trip h1 {
  position: relative;
  font-size: 4rem;
  text-align: center;
  margin: 2em 1em;
  font-weight: bold;
  color: #ff3e3e;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

.container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  height: 550px;
  border: solid black 3px;
  margin: 3em;
  background: white;
}
.container .card .img-box {
  align-self: center;
  position: relative;
  top: -60px;
  width: 260px;
  height: 260px;
  box-shadow: black -15px -15px 25px -15px;
}
.container .card .img-box img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.container .card .card-content {
  margin-top: -50px;
  padding: 0 1em;
  text-align: justify;
  height: 320px;
}
.container .card .card-content h2 {
  color: #ff3e3e;
}
.container .card .buy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: white;
  transition: all 0.5s ease;
  color: white;
}

.buy button {
  display: flex;
  flex-direction: row;

  align-items: center;

  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px;
  border: none;
  background-color: #ff3e3e;
  color: white;
  transition: all 0.5s ease;
  opacity: 1;
}
.buy button a {
  color: white;
  text-decoration: none;
}
.fa-shopping-cart {
  transition: all 0.5s ease;
  margin-left: 5px;
}

.buy button:hover .fa-shopping-cart {
  transform: rotateZ(10deg);
}

/* --- --- */
.spaceShip {
  font-size: 3vw;
  text-align: center;
  margin: 1em;

  position: relative;

  font-family: "Saira", sans-serif;
}

.spaceship-background {
  font-size: 12vw;
  z-index: -1;
  position: absolute;
  top: 33%;
  right: -10vw;
  margin: 0;
  opacity: 0.5;
  transform: rotate(90deg);
}

.spaceship-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  box-shadow: #ff3e3e 0px 0px 20px;
  border-radius: 20px;
}

.spacship-info-content {
  width: 25%;
  margin: 0.5em;
  padding: 0.5em;
}

.spacship-info-content h3 {
  color: #ff3e3e;
  font-size: calc(0.5vw + 0.5em);
  text-shadow: #ff3e3e 0px 0px 5px;
}

.spacship-info-content p {
  margin: 0.1em;
  text-align: left;
  font-size: calc(0.2vw + 0.2em);
}
.spacship-info-content ul li {
  list-style: none;
  text-align: left;
  font-size: calc(0.4vw + 0.2em);
  position: relative;
}
.spacship-info-content ul li::before {
  position: absolute;
  top: 0;
  left: -25px;
  content: "\25BC";
  color: #ff3e3e;
  transform: rotate(270deg);
  text-shadow: #ff3e3e 0px 0px 2px;
}
.div-spaceship-content {
  visibility: hidden;
  opacity: 0;
  font-family: "sairalight";
  transition: all 0.5s ease;
  width: 40%;
  position: absolute;
  z-index: 2;
  background-color: white;
  border-radius: 20px;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4),
    -10px -10px 10px rgba(255, 255, 255, 0.25),
    inset 10px 10px 20px rgba(255, 255, 255, 0.25),
    inset -10px -10px 20px rgba(0, 0, 0, 0.25);
}
.div-spaceship-content button {
  border: none;
  background-color: white;
  color: #ff3e3e;
  font-size: calc(0.4vw + 0.4em);
  position: absolute;
  top: 13%;
  right: 5%;
  cursor: pointer;
  transition: all 0.5s ease;
}
.div-spaceship-content button:hover {
  color: black;
}
.reactor {
  top: 10%;
  left: 5%;
}
.fa-times-circle {
  pointer-events: none;
}
.hidden {
  visibility: visible;
  opacity: 1;
}
svg {
  z-index: 2;
}
.div-spaceship-content h2 {
  font-size: calc(0.6vw + 0.6em);
  text-align: left;
  margin-left: 0.5em;
}
.div-spaceship-content p {
  font-size: calc(0.4vw + 0.4em);
  text-align: left;
  margin-left: 1em;
  padding-left: 0.5em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  border-left: solid #ff3e3e 3px;
}
.trigger-spaceship {
  transition: all 0.5s ease;
  cursor: pointer;
}
.trigger-spaceship:hover {
  fill: white;
}
.cabine {
  top: 25%;
  right: 6%;
}
.rocket-launcher {
  top: 60%;
  right: 3%;
}
.autre {
  top: 55%;
  left: 3%;
}
/* ------ THE CREW -----*/
#crew {
  font-family: "Saira", sans-serif;
}
#crew h1 {
  color: #ff3e3e;
  text-align: center;
  font-size: 4rem;
}

.crew-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 3em;
}

.crew-info-content {
  width: 300px;
  margin: 0.5em;
  padding: 0.5em;
}

.crew-info-content img {
  border-radius: 50%;
  border: 3px solid #ff3e3e;
  margin: 0 0.7em;
}

.crew-info-content:nth-child(2) {
  border-top: #000000 solid 4px;
  border-bottom: #000000 solid 4px;
}

.crew-info-content:nth-child(1),
.crew-info-content:nth-child(3) {
  margin-top: 2em;
}

.crew-info-content h3 {
  color: #ff3e3e;
  font-size: calc(0.5vw + 0.5em);
  text-align: center;
}

.crew-info-content p {
  margin: 0.1em;
  text-align: left;
  font-size: calc(0.2vw + 0.2em);
  text-align: center;
}

.crew .card .card-PP {
  position: relative;
  top: 0;
  left: 40%;
}

.crew .card .card-PP img {
  border-radius: 50%;
  border: 2px solid #ff3e3e;
}

.crew .card .card-text {
  width: 100%;
  height: 200px;
  background-color: #ff3e3e;
}
/*-- form --*/
.form-div {
  margin-top: 20em;
  height: 60vh;
  background-color: #ff3e3e;
  display: flex;
  justify-content: center;
  position: relative;
}
.form-div form p {
  color: #ff3e3e;
  font-size: 0.8em;
  margin: 1em;
}
.form-div form {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  position: absolute;
  top: -50px;
  height: 100%;
  box-shadow: black 0px 0px 10px;
}

.form-div form input,
.form-div form textarea {
  margin: 1.5em;
  padding: 15px;
  background: rgba(255, 255, 255, 0.842);
  resize: both;
  position: relative;
  max-width: 90%;
}
.form-div form input {
  transition: all ease 0.5s;
}
.form-div form textarea {
  border: black solid 2px;
}
.form-div form h3 {
  width: 100%;
  margin-left: 80%;
}
.form-div form h3 span {
  color: #ff3e3e;
}
.form-div form button {
  margin: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}
.form-div form input::placeholder {
  color: aliceblue;
  font-weight: bold;
  opacity: 0.8;
}
.fa-rocket {
  margin-left: 1em;
  font-size: 1.2em;
  transform: rotate(315deg);
  pointer-events: none;
}
.form-div form button:focus .fa-rocket {
  animation: animeFusee 2.4s ease forwards;
}

.form-div form button:hover {
  box-shadow: black 0 0 5px;
}
.form-div form button .fa-check {
  opacity: 0;
  transition: all 1s ease;
  position: absolute;
  top: 15px;
  right: 36px;
}
.form-div form button:focus .fa-check {
  animation: animeCheck 2s ease forwards;
}
.form-div form button:focus {
  outline: none;
}
@keyframes animeFusee {
  0% {
    transform: translateY(0) rotate(315deg);
    opacity: 1;
    display: inline;
  }
  50% {
    transform: translateY(-35px) rotate(315deg);
    opacity: 0;
    display: none !important;
  }
  100% {
    transform: translateY(0) rotate(315deg);
    opacity: 1;
    display: inline;
  }
}
@keyframes animeCheck {
  0% {
    transform: translateX(60px);
    opacity: 0;
    display: none;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
    display: inline;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
    display: none;
  }
}
.form-div h1 {
  position: absolute;
  top: -3em;
  color: black;
  left: 2em;
  font-size: 4em;
}
@media (max-width: 600px) {
  .burgerMenu {
    display: inline;
  }

  .web {
    display: none;
  }

  header img {
    position: fixed;
    top: 0;
    height: 100px;
  }
  .spaceShip h1 {
    font-size: 4rem;
  }
  .div-spaceship-content {
    height: 100vh;
    width: 100%;
    border-radius: 0%;
    box-shadow: none;
    margin: none;
    padding: none;
    background-color: #ff3e3e;
  }
  .div-spaceship-content h2 {
    text-align: left;
    align-self: flex-start;
    font-size: calc(5vw + 2em);
    color: white;
  }
  .div-spaceship-content p {
    font-size: calc(1.5vw + 1em);
  }
  .div-spaceship-content button {
    background-color: #ff3e3e;
    color: black;
    font-size: 10vw;
  }
  .reactor,
  .rocket-launcher,
  .autre,
  .cabine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0;
  }
  aside {
    display: none;
  }
  .txt-homepage {
    width: 70%;
    margin-left: 5px;
  }
  .txt-homepage h2 {
    font-size: calc(1.5vw + 1em);
    margin-bottom: 3em;
  }
  .txt-homepage h1 {
    width: 100%;
    margin-left: 0;
    font-size: calc(2.5vw + 1.8em);
  }
  .txt-homepage button {
    align-self: center;
  }
  .mars {
    margin-top: 3em;
  }
  .spaceship-info {
    align-items: center;
    flex-direction: column;
  }
  .spacship-info-content {
    width: 60%;
  }
  .spacship-info-content h3 {
    font-size: calc(1vw + 0.5em);
  }
  .spacship-info-content p {
    font-size: calc(1vw + 0.3em);
  }
  .spacship-info-content ul li {
    font-size: calc(1vw + 0.4em);
  }
  .form-div form {
    width: 50%;
  }
}
